* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#frame {
  position: fixed;
  inset: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.group {
  --layout: 1fr 1fr;

  display: grid;
  height: 100%;
  width: 100%;
  overflow: hidden;

  &[data-direction="vertical"] {
    grid-template-rows: var(--layout);
    grid-template-columns: 1fr;
  }
  &[data-direction="horizontal"] {
    grid-template-columns: var(--layout);
    grid-template-rows: 1fr;
  }
}

.window {
  border: 1px solid white;
  cursor: pointer;

  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;

  & img {
    object-fit: cover;
    transition: 0.4s ease;
    transition-property: transform, opacity;
  }

  &:hover {
    & img {
      transform: scale(1.02);
    }
  }
}
